# OpenEmbedded dependencies
  flask
  pyserial

# Custom dependecies
  flask-socketio==2.8.5
  python-engineio==1.2.4
  gevent-websocket==0.9.5
  gevent==1.2.1
  recordclass==0.4.2
  python-socketio==1.7.1

# Dev only dependencies
  fakeRPiGPIO
