# OpenEmbedded dependencies
  flask
  pyserial

# Custom dependecies
  python-engineio==1.7.0
  flask-socketio==2.9.2
  gevent==1.2.2
  gevent-websocket==0.10.1
  recordclass==0.4.3
  python-socketio==1.8.1

# Dev only dependencies
  fakeRPiGPIO
